.nav-bar-container {
  opacity: 0.95;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
  position: sticky;
  top: 0;
  width: 100%;
  background-color: #081c15;
  padding: 10px;
  transition: opacity 0.25s ease-out;
  z-index: 100;
}

.nav-bar-container.centered {
  position: absolute;
  top: 40%;
  margin-top: 0;
}

.nav-bar-container.hidden {
  opacity: 0;
  transition: opacity 0.25s ease-out;
}

.nav-bar-container.title-selected-page {
  margin-left: 18px;
}

.search-bar {
  width: 230px;
  height: 20px;
  border-radius: 5px;
}
.error-message {
  color: #ca3737;
  font-size: small;
}
.nav-icon {
  background-color: #52796f;
  color: #cad2c5;
  border-width: 0;
  border-radius: 5px;
  cursor: pointer;
  padding-bottom: 3px;
  padding: 7px;
  max-height: 13px;
}
.nav-icon:hover {
  filter: brightness(1.5);
}
.search-button,
.link-button {
  margin-left: 5px;
  width: 13px;
}
.back-button {
  margin-right: 5px;
  width: 10px;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 90px;
  background-color: rgb(98 112 109);
  color: #cad2c5;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: -160%;
  left: -220%;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: '';
  position: absolute;
  bottom: 94%;
  right: -3%;
  border-width: 8px;
  border-style: solid;
  border-color: rgb(98 112 109) transparent transparent transparent;
  transform: rotate(-160deg);
}

.tooltip.visible .tooltiptext {
  visibility: visible;
  opacity: 1;
}
